@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 40px;
    background-color: #000;
}
header img{
    height: 15%;
    width: 15%;
}

header li, a{
    color: #fff;
    text-decoration: none;
}

.nav_links{
    list-style: none;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

@media screen and (max-width: 480px) {
    .nav_links{
        display: none;
    }
}

.container{
    padding: 40px;
}

.heading{
    font-weight: 600;
    font-size: 110px;
    line-height: 120px;
    color: #1D1D1D;
    font-family: 'Nohemi', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
}

.fish{

}

.container2{
    background-color: #000;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.p1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
    width: 50%;
    padding: 20px 55px;
}

.p2{
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    width: 50%;
    padding: 20px 55px;
}

.about-us{
    position: relative;
    padding: 50px 60px 100px 60px;
}

.name{
    font-family: 'Nohemi', sans-serif;
    font-weight: 600;
    font-size: 90px;
    line-height: 120px;
}

.ab-line{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
}

.container3{
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    text-align: justify;
}

.p3{
    width: 50%;
}

.p4{
    width: 50%;
}

.tgline{
    font-family: 'Inter', sans-serif;
    padding-top: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 29.05px;
}

.container4{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.card{
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.84px;
    width: 17rem;
    padding: 20px 30px 20px 30px;
    align-items: center;
    text-align: center;
}

hr{
    border-top: 1px solid #000;
}

.service{
    padding: 50px 60px 100px 60px;
}

.service-info{
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25.41px;
    text-align: justify;
}

.services-list{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.service-card{
    border: 2px solid #000;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 30px;
    font-weight: 500;
    line-height: 30.14px;
    font-family: 'Nohemi', sans-serif;
    padding: 10px 20px;
}

.service-card p{
    margin-left: 20px;
}

.service-card img{
    height: 100px;
    width: 100px;
}